h1, h2, h3{
  margin-top: 10px;
}
ol, ul{
  padding-left: 15px;
  padding-bottom: 10px;
}
blockquote{
  /*background: RGBA(44, 62, 80, 1.00);*/
  background: #F0DDAA;
  color: #34495e;
}

@media screen and (max-width: 640px) {
  h1{
    font-size: 18px;
  }
  h2{
    font-size: 16px;
  }
  h3{
    font-size: 14px;
  }
  p{
    font-size: 12px;
  }
  pre code{
    font-size: 12px;
  }
  img{
    max-width: 290px;
    height: 100%
  }
}
