<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue-todo-mvc</title>
    <link rel="stylesheet" href="css/index.css" charset="utf-8">
    <style>[v-cloak] {display: none}</style>
  </head>
  <body>
    <section class="todoapp">
      <header class="header">
        <h1>todos</h1>
        <input class="new-todo"
          placeholder="What needs to be done?"
          autofocus autocomplete="off"
          v-model="newTodo"
          @keyup.enter="addTodo"
        >
      </header>
      <section class="main" v-show="todos.length" v-cloak>
        <input class="toggle-all" type="checkbox">
        <ul class="todo-list">
          <li class="todo" v-for="todo in todos">
            <div class="view">
              <input class="toggle" type="checkbox">
              <label>{{todo.title}}</label>
              <button class="destroy"></button>
            </div>
          </li>
        </ul>
      </section>
      <footer class="footer" v-cloak>
        <span class="todo-count">
          <strong>1</strong>left
        </span>
        <ul class="filters">
					<li><a href="#/all">All</a></li>
					<li><a href="#/active">Active</a></li>
					<li><a href="#/completed">Completed</a></li>
				</ul>
				<button class="clear-completed">
					Clear completed
				</button>
      </footer>
    </section>
    <footer class="info">
      <p>Double-click to edit a todo</p>
      <p>Written by <a href="http://evanyou.me">Evan You</a></p>
      <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
    <script src="lib/vue.js" charset="utf-8"></script>
    <script src="js/store.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <script src="js/routes.js" charset="utf-8"></script>
  </body>
</html>
